custom-input-text {
  width: 60%;
  margin-right: 8px;
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow:
    rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
}
.react-emoji {
  width: 75%;
}

#attachement {
  border-style: "none";
  /* padding: 0; */
  margin-bottom: 0;
  padding-top: 9px;
}
.send-message {
  margin-top: 9px;
}
.sendMessageArea {
  margin-top: 9px;
}
.react-input-emoji--placeholder {
  width: 900px;
}
.react-input-emoji--input {
  max-height: 45px;
}
