.liveChat {
}
.seeThrough {
  z-index: -1;
  height: 120px;
}
.bg-light {
  background: #f0f2f5;
}
.sidebar {
  height: calc(100vh - 10px);
  background: #fff;
}
.container {
  display: flex;
  overflow: hidden;
  max-height: 100vh;
}
.scroll-right {
  flex: 1;
  overflow-y: scroll;
  height: calc(100vh - 143px);
  width: 100%;
  background: #e4ddd5;
}

.left-box,
.right-box {
  flex: 1;
  overflow-y: scroll;
  max-height: 100%;
}
.container-reciever {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
  max-width: 50%;
  word-wrap: break-word;
  width: fit-content;
  min-width: 75px;
}
.shadowBorder {
}
.container-sender {
  border: 2px solid #dedede;
  background-color: #bfe6b8;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
  margin-right: 0;
  margin-left: 50%;
  max-width: 48%;
  width: fit-content;
  min-width: 75px;

  /* margin-left:30%;
   float: right; */

  word-wrap: break-word;
}

.darker {
  margin-left: auto;
  margin-right: 0;
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  /* float: right; */
  display: flex;
  justify-content: end;
  color: black;
  font-size: smaller;
  margin-bottom: -11px;
}

.time-left {
  float: left;
  color: black;
}

.wrapper {
  display: flex;
}

.float {
  float: right;
  height: 100%;
  display: flex;
  align-items: flex-end;
  shape-outside: inset(calc(100vh - 100px) 0 0);
}

.selectParticipants-right {
  width: 50%;
  margin: 1%;
}

.uploadedImage {
  height: 100%;
  padding: 5%;
  padding-left: 30%;
}
.whatsappLogo {
  display: flex;
  justify-content: center;
  margin-left: 45%;
  margin-top: 20%;
}
.allignedRight {
  display: flex;
  /* flex-direction: row | row-reverse | column | column-reverse */
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 10px;
}
.chat-sender {
  justify-content: flex-end;
  padding-right: 10px;
}
.chat-reciever {
  padding-left: 10px;
}
.paddingzero {
  padding-left: 0;
}

.chat-reciever {
  justify-content: flex-start;
}
.defaultChat {
  background-color: #dedede;
  /* /home/chicmic/Documents/whatsapp/public/whatsappSide.png  */
  background-repeat: no-repeat;
  background-size: cover;
}

.singleChat {
  display: flex;
  justify-content: flex-end;
}
