.userProfile {
  height: 100%;
  width: 100%;
}

.large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 2%;
}

.large:hover {
  background: grey;
  opacity: 0.5;
  cursor: pointer;
}

.arrow {
  background-color: #5db5a1e3;
  border-radius: 40%;
}
#newName {
  margin: 5px;
}
