.welcome{
    display: flex;
    height: inherit;
    width: inherit;
    border: 1px solid black;
    background: red;
    

}

.fullHeight{
    height: 100px;
    width: 200px;
    background: green;
}
.footStyle{
    position: absolute;
width: 1440px;
height: 199px;
left: 0px;
top: 825px;

background: #008069;
}

/* .signIn{
    

} */
/* .form{
    margin-top: 20vh;
} */


/* .whatsapp_logo{
    margin-top: 15vh;
    margin-left: 110%;
  
} */
.icon{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}