.newGrp{
    flex: 1;
    overflow-y: scroll;
    max-height: 100%;
  }
  .scroll{
    flex: 1;
    overflow-y: scroll;
    height: calc(100vh - 280px - 90px);
    /* height: calc(100vh - 102px); */
  }