.liveChat {
  /* margin: 0;
  width: 95%;
  padding: 0; 
  #f0f2f5
  */
  /* background-image: url("background.png"); */

}
.seeThrough{
  z-index: -1;
  height: 120px;
}
.bg-light{
  background: #f0f2f5;
}
.sidebar {
  height: 100vh;
  background: #fff;
}
.container {
  display: flex;
  overflow: hidden;
  max-height: 100%;
}
.scroll-right {
  flex: 1;
  overflow-y: scroll;
  max-height: 100%;
}

.left-box,
.right-box {
  flex: 1;
  overflow-y: scroll;
  max-height: 100%;
}
.container-reciever {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
  max-width: 50%;
  word-wrap: break-word;
  /* width: fit-content; */
}

.container-sender {
  border: 2px solid #dedede;
  background-color: #68c21f78;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
  margin-right: 0;
  margin-left: 50%;
  max-width: 48%;
  /* width: fit-content; */
  /* min-width: none;
   */
   
   /* margin-left:30%;
   float: right; */

  word-wrap: break-word;
}

.darker {
  margin-left: auto;
  margin-right: 0;
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  /* position: relative; */
  color: black;
} 

.time-left {
  float: left;
  color: black;
}

.wrapper {
  display: flex;
}

.float {
  float: right;
  height: 100%;
  display: flex;
  align-items: flex-end;
  shape-outside: inset(calc(100% - 100px) 0 0);
}

.selectParticipants-right {
  width: 50%;
  margin: 1%;
}

.uploadedImage{
  height: 100%;
  padding: 5%;
    padding-left: 30%;
}

.defaultChat{
  background-image: url("/home/chicmic/Documents/whatsapp/src/Assets/WhatsApplogo.jpg");
  /* /home/chicmic/Documents/whatsapp/public/whatsappSide.png  */
			background-repeat: no-repeat;
			background-size: cover;
}