.liveChat {
  margin: 0;
  width: 95%;
  padding: 0;
}

.container-receiver {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
  width: 50%;
}

.container-sender {
  border: 2px solid #dedede;
  background-color: #68c21f78;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
  margin-right: 0;
  width: 50%;
}

.darker {
  margin-left: auto;
  margin-right: 0;
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
