.liveChat {
  /* margin: 0;
  width: 95%;
  padding: 0; */
  /* background-image: url("background.png"); */
}

.sidebar {
  height: 100vh;
}
.container {
  display: flex;
  overflow: hidden;
  max-height: 100%;
}
.scroll-right {
  flex: 1;
  overflow-y: scroll;
  max-height: 100%;
}

.left-box,
.right-box {
  flex: 1;
  overflow-y: scroll;
  max-height: 100%;
}
.container-reciever {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
  max-width: 50%;
  word-wrap: break-word;
}

.container-sender {
  border: 2px solid #dedede;
  background-color: #68c21f78;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
  margin-right: 0;
  margin-left: 50%;
  max-width: 48%;
  /* min-width: none;
   */
  word-wrap: break-word;
}

.darker {
  margin-left: auto;
  margin-right: 0;
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  /* position: relative; */
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.wrapper {
  display: flex;
}

.float {
  float: right;
  height: 100%;
  display: flex;
  align-items: flex-end;
  shape-outside: inset(calc(100% - 100px) 0 0);
}

.selectParticipants-right {
  width: 50%;
  margin: 1%;
}

.uploadedImage{
  height: 100%;
  padding: 5%;
    padding-left: 30%;
}