.sideBar {
  padding-right: 0;
  /* border: 1px solid grey; */
  /* height: 100vh; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.user {
  cursor: pointer;
  margin-left: 0;
  padding: 2%;
  size: 5px;
}

.selected {
  background: #d5d7dce8;
}
.scroll-left {
  flex: 1;
  overflow-y: scroll;
  max-height: calc(100vh - 38px - 68px);
}
.navbar {
  border-bottom: 1px solid black;
}

/* .dropdown-toggle::after{
  display: none;
}

/* .container {
  display: flex;
    overflow: hidden;
    max-height: 100%;
  }
  
  .left-box, .right-box {
    flex: 1;
  } */

/* .avatar:hover {
  background-color: grey;
} */

.dropdown-toggle {
  padding-right: 0;
}

/* src/Assets/editImgHover.png */
.editHover:hover {
  background-image: url("../../Assets/editImgHover.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.badge{
  /* position: relative;
  top: -1px;
  right: -120px; */
  float: right;
  padding: 5px 7px;
  border-radius: 50%;
  background-color: #25d366;
  color: white;
}

.name{
  display: inline-block;
}
.lastMssg{
  font-size: smaller;
  color: rgb(49, 48, 48);
}