.sideBar {
  margin: 0;
  padding: 0;
  max-width: 24%;
  height: 100%;
  /* align; */
  margin-left: 0;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user {
  cursor: pointer;
  margin-left: 0;
  padding: 2%;
}

.selected {
  background: rgb(201, 196, 196);
}
.scroll-left {
  flex: 1;
  overflow-y: scroll;
  max-height: 100%;
}
.navbar {
  border-bottom: 1px solid black;
}
/* .container {
    display: flex;
    overflow: hidden;
    max-height: 100%;
  }
  
  .left-box, .right-box {
    flex: 1;
  } */
