.sideBar {
  padding-right: 0;
  border: 1px solid grey;
  height: 100vh;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.user {
  cursor: pointer;
  margin-left: 0;
  padding: 2%;
}

.selected {
  background: #d5d7dce8;
}
.scroll-left {
  flex: 1;
  overflow-y: scroll;
  max-height: 100%;
}
.navbar {
  border-bottom: 1px solid black;
}
/* .dropdown-toggle::after{
  display: none;
}

/* .container {
  display: flex;
    overflow: hidden;
    max-height: 100%;
  }
  
  .left-box, .right-box {
    flex: 1;
  } */

.avatar:hover {
  background-color: grey;
}

.dropdown-toggle {
  padding-right: 0;
}
