.signIn {
  display: flex;
  height: 100vh;
}
.form {
  margin-top: 20vh;
}

.whatsapp_logo {
  margin-top: 20vh;
  margin-left: 110%;
}
.icon {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
.whatsapp_label {
  margin-left: -62%;
  width: 100%;
  margin-top: 2%;
  font-size: 30px;
}
.registration {
  width: 170px;
  height: 65px;
  margin-right: 10px;
  background-color: #008069;
  color: white;
}
/* 
width: 12vw;
height: 27vh;
margin-bottom: 17%; */
