 
/* loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textInput {
  width: 98%;
  height: 10vh;
  margin-right: 15px;
  margin-bottom: 8px;
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;

}

.dropdown-toggle::after {
  display: hidden;
}

.dropdown-toggle {
  display: hidden;
}

button:hover {
  background-color: #f3f4f6;
  color: #008069;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

/* pdf canvas */

#upload-button {
  width: 150px;
  display: block;
  margin: 20px auto;
}

#pdf-main-container {
  width: 400px;
  margin: 20px auto;
}

#pdf-meta {
  overflow: hidden;
}

#pdf-buttons {
  float: left;
}

#page-count-container {
  float: right;
}

#pdf-current-page {
  display: inline;
}

#pdf-total-pages {
  display: inline;
}

#image-canvas-row {
  display: flex;
  margin: 20px 0;
  flex-direction: row;
  justify-content: space-around;
}

#pdf-canvas {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

#download-image {
  width: 150px;
  display: block;
  margin: 20px auto 0 auto;
  font-size: 13px;
  text-align: center;
}

#image-generated {
  margin-left: 20px;
  border: 1px solid green;
}

/* CSS */
button {
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-sizing: border-box;
  color: #24292e;
  font-size: 14px;
  padding: 6px 16px;
  white-space: nowrap;
  word-wrap: break-word;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App{
  padding: 15px;
}
.App-link {
  color: #61dafb;
}

.home {
  /* flex: auto; */
  display: flex;
  justify-content: flex-start;
}

.registerHeader{
  /* display: block; */
  /* margin-left: -4%; */
  position: absolute;
  width: 100%;
  height: 10%;
  left: 0px;
  top: 0px;
  background: #2ca58fd5;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 1%;
  color: rgba(237, 225, 225, 0.928);
  /* transform: matrix(1, 0, 0, 0, -1, 0);    */
}